.card-counter{
    margin: 5px;
    padding: 20px 10px;
    background-color: #fff;
    height: 100px;
    transition: .3s linear all;
  }


  .card-counter i{
    font-size: 3em;
    opacity: 0.9;
  }

  .card-counter .count-numbers{
    position: absolute;
    right: 35px;
    top: 20px;
    font-size: 32px;
    display: block;
  }

  .card-counter .count-name{
    position: absolute;
    right: 35px;
    top: 65px;
    font-style: italic;
    text-transform: capitalize;
    opacity: 0.5;
    display: block;
    font-size: 18px;
  }